@{
    ViewBag.Title = "Democrasy - Top Rated Manifests";
}

<div id="main" class="container-fluid center">
    <div id="ManifestsContainer" class="grid">
        <div id="CreateNew" class="panel panel-default grid-item text-center">
            <button class="panel-body" data-toggle="modal" data-target="#createmanifest" style="position: relative">Create New Manifest</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button id="getmore" class="glyph-button" onclick="GetTopManifests(8);"><span class="glyphicon glyphicon-menu-down"></span></button>
        </div>
    </div>
</div>

@*"Create new manifest" modal*@
@{ Html.RenderPartial("~/Views/Manifest/CreateManifest.cshtml");  }

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: 100,
                isFitWidth: true,
                transitionDuration: '0.5s',
                "gutter": 5
            });

            GetTopManifests(8);
        });
    </script>
}