<div id="main" class="container-fluid center">
    <div id="ManifestsContainer" class="grid">
        <div id="CreateNew" class="panel panel-default grid-item text-center">
            <button class="panel-body" data-toggle="modal" data-target="#createmanifest" style="position: relative">Create New Manifest</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button id="getmore" class="glyph-button" onclick="GetNewManifests(8);"><span class="glyphicon glyphicon-menu-down"></span></button>
        </div>
    </div>
</div>

@*Create new manifest modal*@
<div class="modal fade" id="createmanifest" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create new manifest</h4>
            </div>
            <div class="modal-body">
                <form data-toggle="validator" role="form" action="/Manifest/Create" method="post">
                    <div class="form-group">
                        <label for="author-name" class="control-label">Author:</label>
                        <input type="text" name="author" class="form-control" id="author-name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea name="text" class="form-control" id="message-text" rows="5" maxlength="500" required></textarea>
                    </div>
                    <div class="form-group" id="endofpage">
                        <input type="submit" class="btn btn-primary" value="Post">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: 100,
                isFitWidth: true,
                transitionDuration: '0.5s',
                "gutter": 5
            });

            GetNewManifests(8);
        });
    </script>
}